body{
    background-color: #e9ecef;
}

.card {
    display: inline-block;
    margin: 10px;
}

.anime-image {
    height: 218px;
    width: 218px;
    float: left;
    margin-right: 15px;
}

.anime-image img {
    height: 218px;
    width: 218px;
}

.anime-image :hover {
    cursor: pointer;
}

.input-image {
    background-color: rgba(199, 199, 199, 0.5);
    text-align: center;
    position: relative;
    top: -20px;
    width: 218px;
}

.anime-image:hover .input-image {
    display: block;
}

.anime-image input, .anime-image .input-image {
    display: none;
}

.skills-block {
    margin: 0 3px;
}

.skills-block i {
    cursor: pointer;
    margin: 0 1px;
}